# SPDX-License-Identifier: PMPL-1.0-or-later
name: Test Coverage

on:
  push:
    branches: [ main ]

permissions: read-all

jobs:
  coverage:
    name: Test Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.17'
          otp-version: '27'
      - name: Install dependencies
        run: mix deps.get
      - name: Run tests with coverage
        run: mix coveralls.github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
